@model HandleErrorInfo
<h2>Página Genérica de Erro</h2>
<div>
    <p>Controller: @Model.ControllerName</p>
</div>

<div>
    <p>Action: @Model.ActionName </p>
</div>

<div>
    <p>Mensagem: @Model.Exception.Message</p>
</div>