@model LoginViewModel

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
    </div>
  
    <div>
        @Html.LabelFor(x => x.Senha)
        @Html.TextBoxFor(x => x.Senha )
    </div>

    <div>
        <input type="submit" id="entrar" name="name" value="Entrar" /> 
    </div>
}